.catalog-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 261px;
  background: $brown url("../img/catalog-main-bg-desktop.jpg") center 0 / cover no-repeat;

  @media (min-resolution: 2dppx) {
    background: $brown url("../img/catalog-main-bg-desktop@2x.jpg") center 0 / cover no-repeat;
  }

  @media (max-width: $tablet) {
    background: $brown url("../img/catalog-main-bg-tablet.jpg") center 0 / cover no-repeat;

    @media (min-resolution: 2dppx) {
      background: $brown url("../img/catalog-main-bg-tablet@2x.jpg") center 0 / cover no-repeat;
    }
  }

  @media (max-width: $mobile) {
    background: $brown url("../img/catalog-main-bg-mobile.jpg") center 0 / cover no-repeat;

    @media (min-resolution: 2dppx) {
      background: $brown url("../img/catalog-main-bg-mobile@2x.jpg") center 0 / cover no-repeat;
    }
  }
}

.catalog-main__title {
  max-width: 1220px;
  font-family: $cormorant;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  color: $white;

  @media (max-width: $tablet) {
    padding: 0 25px;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
  }
}

.catalog-main__text {
  max-width: 1220px;
  font-family: $cormorant;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: $white;

  @media (max-width: $tablet) {
    padding: 0 25px;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
    line-height: 26px;
    text-align: center;
  }
}
