.page-header--opened {
  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: $brown;
    overflow-y: scroll;
  }
}

.page-header--nojs {
  @media (max-width: $tablet) {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: $brown;
  }
}

.page-header__login {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    padding: 15px 35px 20px 45px;
  }

  @media (max-width: $mobile) {
    padding: 5px 15px 20px;
  }
}

.page-header__login-link {
  @media (max-width: $tablet) {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $dark-grey;
    }

    &:focus,
    &:active {
      color: $dark-grey;
      opacity: 0.6;
    }
  }
}

@media (max-width: $tablet) {
  .page-header--closed .page-header__login {
    display: none;
  }

  .page-header--nojs .page-header__login {
    display: block;
  }
}
