/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-500.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../fonts/poppins-v15-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* cormorant-garamond-italic - latin */
@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"),
    local("CormorantGaramond"),
    url("../fonts/cormorant-garamond-v10-latin-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* cormorant-garamond-600 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"),
    local("CormorantGaramond"),
    url("../fonts/cormorant-garamond-v10-latin-600.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin-600.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/* cormorant-garamond-700 - latin */
@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"),
    local("CormorantGaramond"),
    url("../fonts/cormorant-garamond-v10-latin-700.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin-700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
