// colors

$black: #000000;
$grey: #9b9997;
$dark-grey: #1d1613;
$light-grey: #f6f5f4;
$brown: #a87b62;
$white: #ffffff;
$light-brown: #f0eae4;
$lightest-grey: #dbd5d0;
$middle-grey: #797979;
$almost-white: #e2ddd7;

// fonts

$cormorant: "Cormorant Garamond", "Times New Roman", serif;

// viewports

$mobile: 767px;
$tablet: 1023px;
